In [9]:
import pandas as pd

In [17]:
s1 = pd.Series([71, 29, 63, 78, 79, 82, 92])

In [19]:
type(s1)

pandas.core.series.Series

In [21]:
s1

0    71
1    29
2    63
3    78
4    79
5    82
6    92
dtype: int64

In [25]:
s2 = pd.Series([71, 99, 87, 63, 82], index=["Harry","Aman", "Shubh","Rohan","Rehan"])

In [27]:
s2

Harry    71
Aman     99
Shubh    87
Rohan    63
Rehan    82
dtype: int64

In [29]:
s2["Aman"]

99

In [31]:
#Dataframe

data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}

In [35]:
df = pd.DataFrame(data)

In [37]:
df

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore

In [39]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [41]:
df.columns

Index(['name', 'age', 'city'], dtype='object')